
h1{
    padding: 0vh 10vw 0vh 10vw;
}

h2 {
    color:yellow;
    justify-content:left;
    width:auto;
    padding: 0vh 10vw 0vh 10vw;
}

h3 {
    color:yellow;
    justify-content:left;
    width:auto;
    padding: 0vh 10vw 0vh 10vw;
}

p{
    padding: 0vh 10vw 0vh 10vw;
}