.centered{
    justify-content:center;
    width:auto;
    position:fixed;
    left:0;
    right:0;
    padding: 10vh 0vw 0vh 0vw;
    text-align:center;    
}

h1{
    display:inline-flex;
    justify-content:center;
    width:auto;
    position:relative;
    left:0;
    right:0;
    padding: 0vh 0vw 0vh 0vw;
    }

.message{
    padding: 0 0 0 0vw;
}