h1{
    display:inline-flex;
    justify-content:left;
    width:auto;
    left:0;
    right:0;
    padding: 10vh 0vw 0vh 10vw;
    }

h2 {
    justify-content:left;
    width:auto;
    left:0;
    right:0;
    padding: 0vh 10vw 0vh 10vw;
}

h3 {
    justify-content:left;
    width:auto;
    left:0;
    right:0;
    padding: 0vh 10vw 0vh 10vw;
    font-family: cursive;
}

h4 {
    justify-content:left;
    width:auto;
    left:0;
    right:0;
    padding: 0vh 10vw 0vh 10vw;
    font-family: monospace;
    color:limegreen;
}

h5 {
    justify-content:left;
    width:auto;
    left:0;
    right:0;
    padding: 0vh 10vw 0vh 11vw;
    font-family: monospace;
    color:limegreen;
}